/*Global Styling*/
body {
	background-color: var(--bg-primary);
	font-family: var(--main-font);
	color: var(--text-primary);
}


.fourteenForty {
	position: relative;
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;
}


.twelveHundred {
	position: relative;
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}


.tenEighty {
	position: relative;
	width: 100%;
	max-width: 1080px;
	margin: 0 auto;
}


.nineSixty {
	position: relative;
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
}


.pad {
	padding-left: 40px;
	padding-right: 40px;
}


.button {
	a {
		display: block;
		max-width: 250px;
		margin: 0 auto;
		padding: 10px 20px;
		border-radius: 25px;
	}

	&__blue {
		a {
			background-color: var(--button-primary);
			font-family: var(--heading-font);
			font-weight: 700;

			&:hover {
				background-color: var(--button-hover);
			}
		}
	}
}






/*Font Styling*/
h1, h2 {
	font-size: 1.5rem;
	font-family: var(--heading-font);
	font-weight: 700;
	line-height: 1.5;
}


.feature__heading {
	font-family: var(--heading-font);
	font-weight: 700;
}


.reviewer__name {
	font-family: var(--heading-font);
	font-weight: 700;
	font-size: 0.75rem;
	display: block;
}


.reviewer__occupation {
	font-size: 0.625rem;
}


.mail__text {
	font-size: 0.875rem;
	display: block;
	min-width: 155px;
	line-height: 2.5;

	&::before {
		content: url("img/icon-email.svg");
		vertical-align: middle;
		padding-right: 10px;
	}
}


.phone__text {
	font-size: 0.875rem;
	display: block;
	min-width: 155px;
	line-height: 2.5;

	&::before {
		content: url("img/icon-phone.svg");
		vertical-align: middle;
		padding-right: 10px;
	}	
}


.location__text {
	display: flex;

	&::before {
		content: url("img/icon-location.svg");
		padding-right: 10px;	
	}
}


#invalidSubmit {
	font-size: 0.75rem;
	color: var(--button-error);
	text-align: left;
	padding-left: 30px;
	padding-top: 10px;
}


.explanation__link {
	color: var(--button-primary);
	text-decoration: underline;

	&::after {
		content: url("img/icon-arrow.svg");
		padding-left: 3px;
	}

	&:hover {
		color: var(--text-primary);
	}
}






/*Header Styling*/
header {
	background-color: var(--box-primary);
}


.header-content__holder {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;

	@media all and (max-width: 350px) {
		flex-wrap: wrap;
		justify-content: center;
	}

	@media all and (min-width: 782px) {
		padding: 60px;
	}
}


.header-navigation__holder {
	ul {
		display: flex;
		min-width: 235px;

		li {
			padding-left: 25px;

			a:hover {
				font-weight: 700;
				text-decoration: underline;
			}
		}
	}
}


.header-logo__container {
	max-width: 130px;

	img {
		max-width: 100%;
		min-width: 80px;
	}
}






/*Introduction Section Styling*/
.introduction__section {
	background-color: var(--box-primary);
	background-image: url(img/bg-curvy-mobile.svg);
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: 100% 30%;
	padding: 75px 0px;

	@media all and (min-width: 782px) {
		background-image: url(img/bg-curvy-desktop.svg);
	}
}


.introduction-image__container {
	img {
		display: block;
		max-width: 100%;
		margin: 0 auto;
	}
}


.introduction-text__container {
	text-align: center;
	max-width: 500px;
	margin: 0 auto;

	p {
		padding: 25px 0px;
	}
}






/*Features Section Styling*/
.features__section {
	padding: 50px 0px;
}


.features-row__holder {
	@media all and (min-width: 782px) {
		display: flex;
		justify-content: space-between;
	}


	.features-box__container {
		text-align: center;
		margin-bottom: 75px;

		@media all and (min-width: 782px) {
			flex: 0 1 40%;
		}
	}
}






/*Explanation Section*/
.explanation__section {
	padding: 50px 0px;
}


.explanation-content__holder {
	@media all and (min-width: 782px) {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}


.explanation__container {
	&--image {
		@media all and (min-width: 782px) {
			flex: 0 1 45%;
		}

		img {
			max-width: 100%;
			display: block;
		}
	}


	&--text {
		@media all and (min-width: 782px) {
			flex: 0 1 45%;
		}
	}
}






/*Testimonials Section Styling*/
.testimonials__section {
	padding: 75px 0px;
}


.testimonials-content__holder {
	background-image: url("img/bg-quotes.png");
	background-repeat: no-repeat;
	padding: 40px;
	background-position-x: 30px;

	@media all and (min-width: 782px) {
		display: flex;
		justify-content: space-between;
	}


	.testimonials-box__container {
		background-color: var(--box-secondary);
		padding: 40px 30px;
		border-radius: 5px;
		margin-bottom: 25px;

		@media all and (min-width: 782px) {
			flex: 0 1 30%;
			margin-bottom: unset;
		}


		p {
			font-size: 0.875rem;
		}


		.testimonials-reviewer__holder {
			display: flex;
			align-items: center;

			.reviewer-image__container {
				margin-right: 10px;

				img {
					max-width: 30px;
					display: block;
					border-radius: 90px;
				}
			}
		}
	}
}






/*Sign-up Section Styling*/
.sign-up-content__holder {
	padding: 20px;
	background-color: var(--box-primary);
	border-radius: 5px;
	margin-bottom: -75px;
	margin-top: 75px;
	text-align: center;

	@media all and (min-width: 782px) {
		padding: 40px;
	}


	p {
		padding: 25px 0px;
	}


	.input__holder {
		@media all and (min-width: 782px) {
			display: flex;
		}

		input {
			width: 100%;
			height: 34px;
			padding: 0px 30px;
			border: unset;
			border-radius: 25px;
			margin-bottom: 15px;

			@media all and (min-width: 782px) {
				margin-right: 30px;
				margin-bottom: unset;
			}
			
		}

		button {
			width: 100%;
			padding: 10px 20px;
			border-radius: 25px;
			font-size: 0.875rem;
			font-family: var(--heading-font);
			font-weight: 700;
			color: var(--text-primary);
			background-color: var(--button-primary);

			@media all and (min-width: 782px) {
				max-width: 175px;
			}

			&:hover {
				background-color: var(--button-hover);
			}
		}
	}
}






/*Footer Styling*/
footer {
	background-color: var(--bg-footer);
	padding-top: 150px;
}


.footer-content__holder {
	padding: 20px;

	.footer-logo__container {
		max-width: 130px;
		padding-bottom: 25px;

		img {
			width: 100%;
			min-width: 80px;
			display: block;
		}
	}
}


.footer-information__container {
	@media all and (min-width: 782px) {
		display: flex;
		justify-content: space-between;
	}

	.footer-contact__holder {
		padding-bottom: 75px;

		@media all and (min-width: 782px) {
			flex: 0 1 45%;
			display: flex;
			justify-content: space-between;
			padding-bottom: unset;
		}

		p {
			@media all and (min-width: 782px) {
				padding-right: 40px;
			}
		}
	}


	.footer-links__holder {
		@media all and (min-width: 782px) {
			flex: 0 1 45%;
			display: flex;
			justify-content: space-between;
		}

		.footer-links__container {
			@media all and (max-width: 781px) {
				padding-bottom: 40px;
			}

			ul {
				li {
					line-height: 2.5;

					a:hover {
						font-weight: 700;
					}
				}
			}
		}

		.footer-socials__container {
			text-align: center;

			a {
				font-size: 1.5rem;
				padding: 5px 10px;
				border: 1px solid var(--text-primary);
				border-radius: 45px;

				&:hover {
					i {
						color: var(--button-hover);
					}
				}
			}
		}
	}
}








