/*Global Styling*/
body {
  background-color: var(--bg-primary);
  font-family: var(--main-font);
  color: var(--text-primary);
}

.fourteenForty {
  position: relative;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.twelveHundred {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.tenEighty {
  position: relative;
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
}

.nineSixty {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.pad {
  padding-left: 40px;
  padding-right: 40px;
}

.button a {
  display: block;
  max-width: 250px;
  margin: 0 auto;
  padding: 10px 20px;
  border-radius: 25px;
}
.button__blue a {
  background-color: var(--button-primary);
  font-family: var(--heading-font);
  font-weight: 700;
}

/*Font Styling*/
h1, h2 {
  font-size: 1.5rem;
  font-family: var(--heading-font);
  font-weight: 700;
}

.feature__heading {
  font-family: var(--heading-font);
  font-weight: 700;
}

.reviewer__name {
  font-family: var(--heading-font);
  font-weight: 700;
  font-size: 0.75rem;
  display: block;
}

.reviewer__occupation {
  font-size: 0.625rem;
}

/*Header Styling*/
header {
  background-color: var(--box-primary);
}

.header-content__holder {
  display: flex;
  justify-content: space-between;
}

/*Introduction Section Styling*/
.introduction__section {
  background-color: var(--box-primary);
  background-image: url(img/bg-curvy-mobile.svg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100% 30%;
}
@media all and (min-width: 782px) {
  .introduction__section {
    background-image: url(img/bg-curvy-desktop.svg);
  }
}

.introduction-image__container img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

.introduction-text__container {
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
}

/*Features Section Styling*/
@media all and (min-width: 782px) {
  .features-row__holder {
    display: flex;
    justify-content: space-between;
  }
}
.features-row__holder .features-box__container {
  text-align: center;
}
@media all and (min-width: 782px) {
  .features-row__holder .features-box__container {
    flex: 0 1 40%;
  }
}

/*Explanation Section*/
@media all and (min-width: 782px) {
  .explanation-content__holder {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media all and (min-width: 782px) {
  .explanation__container--image {
    flex: 0 1 45%;
  }
}
.explanation__container--image img {
  max-width: 100%;
  display: block;
}
@media all and (min-width: 782px) {
  .explanation__container--text {
    flex: 0 1 45%;
  }
}

/*Testimonials Section Styling*/
.testimonials-content__holder {
  background-image: url("img/bg-quotes.png");
  background-repeat: no-repeat;
}
@media all and (min-width: 782px) {
  .testimonials-content__holder {
    display: flex;
    justify-content: space-between;
  }
}
.testimonials-content__holder .testimonials-box__container {
  background-color: var(--box-secondary);
  padding: 40px 30px;
  border-radius: 5px;
}
@media all and (min-width: 782px) {
  .testimonials-content__holder .testimonials-box__container {
    flex: 0 1 30%;
  }
}
.testimonials-content__holder .testimonials-box__container p {
  font-size: 0.875rem;
}
.testimonials-content__holder .testimonials-box__container .testimonials-reviewer__holder {
  display: flex;
  align-items: center;
}
.testimonials-content__holder .testimonials-box__container .testimonials-reviewer__holder .reviewer-image__container {
  margin-right: 10px;
}
.testimonials-content__holder .testimonials-box__container .testimonials-reviewer__holder .reviewer-image__container img {
  max-width: 30px;
  display: block;
  border-radius: 90px;
}

/*Sign-up Section Styling*/
/*Footer Styling*/

/*# sourceMappingURL=style.css.map */
